*{
    margin: 0;
    padding: 0;
    /* background-color: rgba(82, 104, 104, 0.5); */
    font-family: 'Roboto', sans-serif;

}
body{
    background-image: linear-gradient(to left, #fdffff , #cfcfc8);
    /* background-color: rgba(82, 104, 104, 0.5); */

}

.topbar {
    display: flex;
    flex-direction: row;
    height:15%;
    /* border-bottom: 3px solid; */
}

.fname{
    font-size: 58px;
}

.topbar div.left {
    width: 30%;
    padding: 10px;

}
.right p{
    color: rgb(49, 47, 47);
    margin: 0% 0 0 13%;
    font-size: 35px;
}
.left p{
    color: rgb(49, 47, 47);
    margin: -10% 0 0 25%;
    font-size: 35px;
}


.topbar h1{
    font-size: 60px;
    padding-left: 20px;
    margin: 10% 0 0 10%;

}


.topbar div.right{
    width: 70%;

}